@model IDictionary<WorkTimeTracker.Models.Entities.Employee, List<WorkTimeTracker.Models.Entities.DailyWorkSchedule>>

@{
    ViewData["Title"] = "Index";
}

<body class="no-margin">
    <h1>Index</h1>

    @using (Html.BeginForm("Index", "DailyWorkSchedules", FormMethod.Get))
    {
        @Html.DropDownList("Year", new SelectList(Enumerable.Range(DateTime.Now.Year - 10, 20)))
        @Html.DropDownList("Month", new SelectList(Enumerable.Range(1, 12)))
        <input type="submit" value="Submit" />
    }

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table no-margin" style="margin-right: 0">
        <thead>
            <tr>
                <th>Employee</th>
                @for (int i = 1; i < DateTime.DaysInMonth(2024, 03) + 1; i++)
                {
                    var a = new DateTime(2024, 03, i);


                    <th>@string.Concat(i, '\n', a.ToString("ddd"))</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@string.Concat(item.Key.FirstName, ' ', item.Key.LastName)</td>
                    @for (int i = 1; i < DateTime.DaysInMonth(2024, 03) + 1; i++)
                    {
                        <td>
                            @if (item.Value.ElementAtOrDefault(i) == null)
                            {
                                <a href="@Url.Action("Create", "DailyWorkSchedules", new { EmployeeId = item.Key.Id, Date = new DateTime(2024, 03, i) } )">
                                    Add
                                </a>

                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.Value.ElementAtOrDefault(i)?.Id">
                                    @string.Concat(
                                             item.Value.ElementAtOrDefault(i)?.PlannedWorkStart.ToString("t") ?? "-",
                                             '\n',
                                             item.Value.ElementAtOrDefault(i)?.PlannedWorkEnd.ToString("t") ?? "-")
                                </a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>

<style>
    body.no-margin .container {
        margin-left: 0;
        margin-right: 0;
    }
</style>