@using WorkTimeTracker.Application.ActionTimes
@model IEnumerable<ActionTimeDto>

@{

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfAction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Start.ToString("dd/MM/yyyy hh:mm")
                </td>
                <td>
                    @string.Concat(item.End?.ToString(@"hh\:mm") ?? "")
                </td>
                <td>
                    @string.Concat(item.TimeOfAction?.ToString(@"hh\:mm") ?? "")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>