@using WorkTimeTracker.Application.DailyWorkSchedules
@using WorkTimeTracker.Domain.Entities
@model DailyWorkScheduleDto

@{
    string modalId = string.Concat("dayModal-", Model.Date.ToString("dd-MM-yyyy"), '-', Model.EmployeeId);

    var workDays = new List<TypeOfDay> { TypeOfDay.WorkDay, TypeOfDay.NightShift, TypeOfDay.BusinessTrip, TypeOfDay.RemoteWork };
    string cl = "btn";
    if (workDays.Contains(Model.TypeOfDay) && Model.Date >= DateTime.Now.Date)
    {
        cl = "btn btn-outline-success";
    }
    else if (workDays.Contains(Model.TypeOfDay) && (Model.WorkTimeNorm.TotalMinutes - Model.RealWorkTime.TotalMinutes) <= 2)
    {
        cl = "btn btn-success";
    }
    //else if (workDays.Contains(Model.TypeOfDay) && Model.WorkTimeNorm.TotalMinutes == 0 && Model.Date <= DateTime.Now.Date)
    else if (Model.TypeOfDay == TypeOfDay.Unplanned)
    {
        cl = "btn btn-warning";
    }
    else if (workDays.Contains(Model.TypeOfDay))
    {
        cl = "btn btn-dark";
    }
    else
    {
        cl = "btn btn-light";
    }

}

<!-- Button trigger modal -->
<button type="button" class="btn @cl" data-bs-toggle="modal" data-bs-target="#@modalId" style="font-size:small; padding:unset; width:42px; height:63px;">
    <p style="margin:unset;">
        @*         @string.Concat(
        Model.PlannedWorkStart.ToString("t") ?? "-",
        '\n',
        Model.PlannedWorkEnd.ToString("t") ?? "-") *@
        @Model.PlannedWorkStart.ToString("t")
        <br />
        @Model.PlannedWorkEnd.ToString("t")
        <br/>
        @Model.RealWorkTime.ToString(@"hh\:mm")
    </p>

</button>

<!-- Modal -->
<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="createCarWorkshopServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCarWorkshopServiceModalLabel">
                    Day details @string.Concat(Model?.Employee?.FirstName ?? "", ' ', Model?.Employee?.LastName ?? "", " - ", Model?.Date.ToString("dd.MM.yyyy"))
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        @Model.TypeOfDay
                        <table>
                            <thead>
                                <tr>
                                    <td></td>
                                    <td class="text-center">
                                        Planned
                                    </td>
                                    <td class="text-center">
                                        Real
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-end pe-1">
                                        Work start:
                                    </td>
                                    <td class="text-center">
                                        @Model?.PlannedWorkStart.ToString("t")
                                    </td>
                                    <td class="text-center">
                                        @Model?.RealWorkStart?.ToString("t")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end pe-1">
                                        Work end:
                                    </td>
                                    <td class="text-center">
                                        @Model?.PlannedWorkEnd.ToString("t")
                                    </td>
                                    <td class="text-center">
                                        @Model?.RealWorkEnd?.ToString("t")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end pe-1">
                                        Work time:
                                    </td>
                                    <td class="text-center">
                                        @Model?.WorkTimeNorm.ToString(@"hh\:mm")
                                    </td>
                                    <td class="text-center">
                                        @Model?.RealWorkTime.ToString(@"hh\:mm")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end pe-1">
                                        Break time:
                                    </td>
                                    <td class="text-center">
                                        @Model?.BreakTimeNorm.ToString(@"hh\:mm")
                                    </td>
                                    <td class="text-center">
                                        @Model?.RealBreakTime.ToString(@"hh\:mm")
                                </tr>
                                <tr>
                                    <td class="text-end pe-1">
                                        Overtime:
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        @Model?.Overtime.ToString(@"hh\:mm")
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-controller="DailyWorkSchedules" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}