@model WorkTimeTracker.Domain.Entities.DailyWorkSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailyWorkSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedWorkStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedWorkStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedWorkEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedWorkEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTimeNorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTimeNorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakTimeNorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakTimeNorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealWorkStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealWorkStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealWorkEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealWorkEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NightWorkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NightWorkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NightOvertime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NightOvertime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeCollected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeCollected)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
