@model IEnumerable<WorkTimeTracker.Domain.Entities.DailyWorkSchedule>

@{
    ViewData["Title"] = "Index";
    var dsf = new WorkTimeTracker.Domain.Entities.DailyWorkSchedule();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedWorkStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedWorkEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTimeNorm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakTimeNorm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealWorkStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealWorkEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NightWorkHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overrime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NightOvertime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeCollected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedWorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedWorkEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTimeNorm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakTimeNorm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealWorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealWorkEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NightWorkHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overrime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NightOvertime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimeCollected)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
