@using WorkTimeTracker.Application.DailyWorkSchedules
@using WorkTimeTracker.Application.Employees
@using WorkTimeTracker.Domain.Entities
@model IDictionary<EmployeeDto, List<DailyWorkScheduleDto>>

@{
    ViewData["Title"] = "Index";
    int year = TempData["DateYear"] != null ? int.Parse(TempData["DateYear"]!.ToString()!) : DateTime.Now.Date.Year;
    int month = TempData["DateMonth"] != null ? int.Parse(TempData["DateMonth"]!.ToString()!) : DateTime.Now.Date.Month;
}

<body class="no-margin">
    <h1>Index @year @month</h1>

    @using (Html.BeginForm("Index", "DailyWorkSchedules", FormMethod.Get))
    {
        @Html.DropDownList("Year", new SelectList(Enumerable.Range(DateTime.Now.Year - 10, 20)))
        @Html.DropDownList("Month", new SelectList(Enumerable.Range(1, 12)))
        <input type="submit" value="Submit" />
    }

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table no-margin" style="margin-right: 0">
        <thead>
            <tr>
                <th>Employee</th>
                @for (int i = 1; i < DateTime.DaysInMonth(year, month) + 1; i++)
                {
                    var a = new DateTime(year, month, i);

                    <th>@string.Concat(i, '\n', a.ToString("ddd"))</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@string.Concat(item.Key.FirstName, ' ', item.Key.LastName)</td>
                    @for (int i = 1; i < DateTime.DaysInMonth(year, month) + 1; i++)
                    {
                        @if (item.Value.Exists(schedule => schedule.Date.Date == new DateTime(year, month, i).Date))
                        {
                            <td>
                                <partial name="_ModalDialogDetails" model="new DailyWorkScheduleDto() { EmployeeId = item.Key.Id, Employee = item.Key, PlannedWorkStart = item.Value.FirstOrDefault(x => x.Date.Day == i)?.PlannedWorkStart ?? default,  PlannedWorkEnd = item.Value.FirstOrDefault(x => x.Date.Day == i)?.PlannedWorkEnd ?? default, Date = new DateTime(year, month, i) }" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <button class="btn btn-primary">
                                    <a asp-action="create" asp-route-employeeid="@item.Key.Id" asp-route-date="@(new DateTime(year, month, i).Date)" style="color: white; text-decoration: none;">Create New</a>
                                </button>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</body>

<style>
    body.no-margin .container {
        margin-left: 0;
        margin-right: 0;
    }
</style>
